This is where letter customer will checkout.

= form_tag charge_create_letter_order_path(@letter_order), method: :post do
	%script.stripe-button{"data-amount" => "200", "data-description" => "2 widgets ($2.00)", "data-image" => "/128x128.png", "data-key" => "pk_test_pd5zrVQXUDHLS96arlQYvgFA", "data-name" => "Demo Site", src: "https://checkout.stripe.com/checkout.js"}
