.row
  .container
    .col-lg-10.col-md-10.col-lg-offset-1.col-md-offset-1
      

      .row
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Your Letters
              %th You have sent letters to: 

          %tbody
            %tr
              %td test letter name
              %td test recipient


= link_to "PDF letter", 'letter_orders/42', format: "pdf"
        