.background_image
	.col-lg-8.col-md-8.col-sm-8.col-lg-offset-4.col-md-offset-4.col-sm-offset-4
		%h2 Build a letter and send it to someone you love. Start now!
		%br

		.col-lg-9.col-md-9.col-sm-9.col-lg-offset-3.col-md-offset-3.col-sm-offset-3
			= link_to "Sign up now!", root_path, class: "btn btn-default signup_button btn-primary"


.signup_modal.modal_custom
	= render 'users/new'


