.background_image
	.cover_div
		%h2.top_margin Build a letter and send it to someone you love. Start now!
		%br

			= link_to "Sign up now!", root_path, class: "btn btn-default signup_button btn-primary"


.signup_modal.modal_custom
	= render 'users/new'


