= link_to "Back", new_letter_path, class: "btn-primary btn"

.row
  .container
    .col-lg-10.col-md-10.col-lg-offset-1.col-md-offset-1.main_content



      = link_to "Previous", letter_path(), remote: true, class: "btn-default btn btn-block"

      = link_to "Next", letter_path(), remote: true, class: "btn-default btn btn-block"