.workspace_buttons.workspace_nav
  .col-lg-4.col-md-4
    = link_to "LetterMash", switch_path(workspace: "snippet_workspace"), remote: true, class: "btn-default btn btn-block"
      

  .col-lg-4.col-md-4
    = link_to "Send a Famous Love Letter", switch_path(workspace: "full_letter_workspace"), remote: true, class: "btn-default btn btn-block"
      

  .col-lg-4.col-md-4  
    = link_to "LoveGenie", switch_path(workspace: "letter_genie_workspace"), remote: true, class: "btn-default btn btn-block"
%br
.main_content
  .workspace_content
    
        


