/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require gritter
 *= require animate
 *= require jquery.ui.all
 *= bootstrap.min
 *= require_tree .
 *= require_self
 
 */


body {
  margin-top: 60px;
}



@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}


.centered {
  text-align: center;
}

.gray {
  background: gray;
}

.workspace_content {
}

.navbar {
  margin-bottom: 0;
}

.workspace_nav {
  margin-top: 20px;
}

.workspace_back {
  position: absolute;
  left: 20px;
  top: 71px;
}

.send_letter_button_bottom {
}

.top_right {
  position: absolute;
  right: 20px;
  top: 71px;
}

.letter_nav {
  text-align: center;
  padding-top: 10px;
}

.direction_button {
  width: 200px;
}

.letter_text {
  padding: 0 60px;
}

.workspace_content {
}

.floating_nav {
  display: none;
}

.modal_custom {
  display: none; 
  position: fixed; 
  left: 25%; 
  top: 20%; 
  padding: 25px; 
  border: 2px solid black;
  background-color: #ffffff;
  width: 50%;
  max-height: 80%;
  z-index: 2000;
  overflow-y: auto; 
}

#fade {
  display: none;  
  position: fixed; 
  left: 0%; 
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7; 
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}

.letter_content {
  margin-bottom: 50px;
}

.thirty-three {
  width: 32%;
}

.show_letter_text {
  margin-left: 20px;
}

.edit_button_wide {
  width: 100%;
}

.hidden_form {
  display:none;
}

.mash_title {
  padding-top: 0;
  margin-top: 13px;
  margin-bottom: 4px;
}

#fade_instructions {
  position: fixed; 
  left: 0%; 
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7; 
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}

.modal_custom_instructions {
  position: fixed; 
  left: 25%; 
  top: 20%; 
  padding: 25px; 
  border: 2px solid black;
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  z-index: 2000;
  overflow-y: auto; 
}

.letter_view_workspace {
  display: none;
  min-height: 700px;
}

.author_name {
  margin-bottom: 5px;
  text-align: center;
  padding: 11px;
  position: relative;
  bottom: 10px;
  min-width:328px;
}

.snippet_view_workspace {
  padding-left: 45px;
  padding-top: 40px;
  min-height: 700px;
}

.widen {
  width: 300px;
}

.snippet_image {
  height: 50px;
  position: relative;
  bottom: 15px;
}

.author_snippets {
  text-align: left;
  margin-left: 20px;
}

.snippet_title {
}

.genie_title {
  margin-top: 18px;
}

.background_image {
  background: url(cover_136637228.jpg) no-repeat 0 0; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 905px;
}

.red {
  background-color: #760003;
}

.signup_modal {
  z-index: 1031;
}

.workspace_background_image {
  background: url(paper2_114501982.jpg) 0 0;
  background-repeat:repeat-y;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 905px;
}

.snippet_content {
  position: relative;
  top: -3px;
}

.snippet_margin {
  margin-left: 20px;
}

.inline_title {
  display: inline;
}

.send_snippet_letter_button {
}

.snippet_title {
}

.float_right {
  float: right;
}

.author_icon:before {
  font-size: 200%;
  position: relative;
  bottom: 13px;
  color: #E74C3C;
}

.answer {
 
  margin-right: 8px;
}

.snippet_button {
  position: relative;
  right: 10px;
}

.answer_holder {
  text_align:center;
  width: 100%;
}

.pad {
  padding-top: 3px;
}

.center_this {
  margin: 0 auto;
  width: 75%;
}

.red_button:hover, .red_button:focus, .red_button:active, .red_button.active, .open .dropdown-toggle.btn-primary {
  background-color: red;
  border-color: red;
}

