/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require gritter
 *= require animate
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */


@import "bootstrap";

.centered {
  text-align: center;
}

.gray {
  background: gray;
}

.workspace_content {
  min-height: 350px;
  border: 1px solid #333333;
  border-radius: 150px;
  overflow: auto;
}

.navbar {
  margin-bottom: 0;
}

.workspace_nav {
  margin-top: 20px;
}

.workspace_back {
  position: absolute;
  left: 20px;
  top: 71px;
}

.send_letter_button_bottom {
  
}

.top_right {
  position: absolute;
  right: 20px;
  top: 71px;
}

.letter_nav {
  text-align: center;
  padding-top: 10px;
}

.direction_button {
  width: 200px;
}

.letter_text {
  padding: 0 60px;
}

.workspace_content {
  min-height: 350px;
  overflow: auto;
}

.floating_nav {
  display: none;
}

.modal_custom {
  display: none; 
  position: absolute; 
  left: 25%; 
  top: 10%; 
  padding: 25px; 
  border: 2px solid black;
  background-color: #ffffff;
  width: 50%;
  height: auto;
  z-index: 100; 
}

#fade {
  display: none;  
  position: fixed; 
  left: 0%; 
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7; 
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}

.letter_content {
  margin-bottom: 50px;
}

.thirty-three {
  width: 32%;
}
